.about{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fdfdfdce;
}
.imgabout{
    margin-top: 400px;
}
.imgabout img{
    width: 350px;
    height: 350px;
    margin-left: 20px;
    border-radius: 50%;
}
.socialmediaabout{
    text-align: center;
    margin-top: 30px;
}
.textabout{
    font-size: 20px;
    text-align: justify;
    margin-top: 300px;
    padding: 30px;
    font-weight:bold;
}
.logoname{
    position: relative;
    min-width: 100%;
}
.socialmediaabout{
    font-size: 50px;
    padding: 10px;
    margin: 10px;
    margin-top: -100px;
    display: flex;
    justify-content: center;
}
.socialmediaabout p{
    padding: 10px;
    margin-top: 90px;
    margin-bottom: -130px;
}
@media screen and (max-width: 800px) {
    .about {
      flex-direction: column;
    }
  
    .imgabout {
      margin-top: 500px;
    }
  
    .imgabout img {
      width: 250px;
      height: 250px;
      margin-left: 0;
      margin-bottom: 20px;
    }
  
    .socialmediaabout {
      margin-top: 20px;
    }
  
    .textabout {
      margin-top: 50px;
      padding: 10px;
      font-size: 16px;
    }
  
    .logoname {
      margin-top: 130px;
    }
  
    .socialmediaabout {
      font-size: 30px;
      padding: 5px;
      margin: 5px;
      margin-top: -30px;
      margin-bottom: 30px;
    }
  
    .socialmediaabout p {
      margin-top: 40px;
      margin-bottom: -50px;
    }
  }
  