.help{
    min-height: 72vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fcfafa;
    flex-direction: column;

}
.texthelp{
    font-size: 40px;
}
.socialmediashelp{
    font-size: 50px;
    display: flex;
}
.socialmediashelp p{
    padding: 10px;
}