.list-products {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  max-width: 100%;
  flex-wrap: nowrap;
}
.items{
  margin-top: 150px;
  justify-content: center;
  align-items: center;
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
}
.card-prod a, .items a{
  text-decoration: none;
  color: #000;
}
.card-prod {
  list-style: none;
  background: #ffffff;
  cursor: pointer;
  padding-bottom: 15px;
  border-radius: 20px 0 20px 0;
  height: 360px;
  width: 280px;
  margin: 5px;
  padding: 10px;
  transition: all .5s;

}
.card-prod:hover{
  transform: scale(1.02);
}
.card-prod img {
  width: 260px;
  height: 210px;
  margin-top: -20px;
  margin-bottom: 15px;
  border: 2px solid #e5e4e4;
  border-radius: 20px;
}

.card-prod .img img {
  object-fit: cover;
}

@media screen and (max-width: 500px) {
  .card-prod{
    align-items: center;
    justify-content: center;
  }
  .items{
    max-width: 100%;
    justify-content: center;
  }
}
@media screen and (max-width: 800px) {
  .card-prod{
    align-items: center;
    justify-content: center;
  }
  .items{
    max-width: 100%;
    justify-content: center;
  }
}