.products{
    min-height: 72vh;
}
.headNameprod{
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
    text-align: center;
    display: flex;
    color: aliceblue;
    font-size: 250px;
    position: absolute;
    margin-top: 80px;
    z-index: 0;
}
